body {
font-family: '188-100', arial;
padding: 2vw;
margin: 0;
background-image: linear-gradient(DarkSalmon, DarkOrchid, DarkGoldenRod, Gold);
color: rgba(0, 0, 0, 0.8);
font-size: 1.3vw;
}

@font-face {
  font-family: '188-100';
  src: url("assets/188Sans-Pixel100.woff2") format("woff2");
}

#arton, #arton p, #arton a {color: DarkGoldenRod;}
#nitton, #nitton p, #nitton a {color: DarkSalmon;}
#tjugoett, #tjugoett p, #tjugoett a {color: DarkOrchid;}
#tjugotva, #tjugotva p, #tjugotva a {color: Gold;}


a {
	text-decoration: none;
	color: black;
	border-bottom: 0px solid black;
}

a:hover {
	text-decoration: none;
	color: black;
  text-transform: uppercase;
}

ul {
    list-style-type: none;
		text-align: center;
    padding: 0;
    margin: 0;
}


.intro {
  column-count: 3;
	column-gap: 2vw;
	margin-bottom: 3vw;
}



h1 {
	font-size: 1.4vw;
	text-align: center;
	font-weight: normal;
	margin-bottom: 1.4vw;
}



h2 {
	font-size: 1.4vw;
	text-align: center;
	font-weight: normal;
	margin: 3vw 0 0 0;
	padding: 0;
  text-transform: uppercase;
  letter-spacing: 2vw;
}

p {
  margin: 0; padding: 0;
}

.intro, .lista, h1, h2, .archived {
  font-size: 3vw;
}

.intro p {
  font-size: 1.5vw;
}

.archived {
  color: red;
}

.lista {
  padding-bottom: 5vw;
}

.embeddad {
	width: 96vw;
	height: 70vh;
	border-radius: 10px;
}

.embeddad-ruta {
	margin-bottom: 2vw;
	border-radius: 10px;
	transform: scale(0.98);	
}


.embeddad-ruta:hover {
	transform: scale(1);	
}


@keyframes knappen {
    from {	box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.25); 	border-radius: 15vw;}
    to {	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25); 	border-radius: 0vw;}
}

@keyframes knappen-ut {
    from {	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25); border-radius: 0vw;}
		to {	box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.25); border-radius: 15vw;}

}


@keyframes bakgrund {
  0% {background-color: Bisque ; }
  20% {background-color: coral; }
	40% {background-color: darksalmon; }
	60% {background-color: indianred; }
	80% {background-color: indianred; }
	100% {background-color: Bisque; }

}






@media only screen and (max-width: 1000px) {

body  {
	font-size: 3.4vw;
}




	.intro {
    column-count: 1;
		column-gap: 2vw;
	}

  .intro p {
    font-size: 3vw;
  }



}
